
.width1200
	
	width 1200px
	margin 0 auto
.header
	width 100%
	min-width 1230px
	margin-bottom 20px
	.header-top
		width 100%
		border 1px solid #ededed
		padding 8px 0
		font-size 12px
		color gray
		background #fafafa
		.left
			float left
			ul
				li
					padding 0 10px
					line-height 12px
					float left
					border-left 1px solid #c8c8c8
					&:hover
						color #ca141d
				.first
					padding-left 0
					border-left none
		.right
			float right
			ul
				li
					padding 0 10px
					line-height 1
					float left
					border-left 1px solid #c8c8c8
					&:hover
						color #ca141d
				.first
					padding-left 0
					border-left none
				.signin
					color black
					&:hover
						color #ca141d
				.signup
					margin-left 10px
					color black
					&:hover
						color #ca141d
	.header-search
		height 118px
		.logo
			float left
			img
				margin 40px 120px 0 0
		.searchBox
			float left
			margin-top 40px
			form
				height 32px
				.ipt
					width 370px
					padding-left 10px
					border 2px #ca141d solid
					outline none
					float left
					height 32px
					*height 16px
					padding 6px
					font-size 12px
				.btn
					width 66px
					height 32px
					*height 32px
					background #ca141d
					border 2px #ca141d solid
					color white
					float left
					margin-left -2px
					border none
					&:hover
						background #d5434a
			.search-key
				padding-top 6px
				ul
					li
						float left
						font-size 12px
						color gray
						margin-left 10px
						&:hover
							color #ca141d
						&.first
							margin-left 0px
		.mys
			margin 40px 0 0 10px
			float left
			width 200px
			line-height 32px
			border 1px solid #e5e5e5
			padding 9px 0
			.myshop
				text-align center
				font-size 12px
				line-height 1
				display block
				float left
				width 100px
			.mycar
				text-align center
				font-size 12px
				line-height 1
				display block
				float left
				width 98px
				border-left 1px solid #e5e5e5
		.code2
			margin-top 16px
			float right
.header-nav
	.nav
		height 40px
		min-width 1230px
		background #333
		.all
			z-index 10
			float left
			background #c81118
			width 240px
			*width 224px
			padding-left 16px
			position relative
			.all-tit
				line-height 40px
				color white
			.all-d
				position absolute
				width 240px
				height 448px
				background #fff
				margin-left -17px
				*margin 30px 0 0 -85px
				.all-d-p
					height 64px
					*height 40px
					padding 12px 0 12px 8px
					&:hover
						background #f7f7f7
						.all-d-p-r
							display block
					.all-d-p-r
						display none
						position absolute
						top 0
						left 240px
						height 448px
						*height 420px
						background #f7f7f7
						padding 14px 0
						&.width440
							width 440px
						.r-top
							width 220px
							min-height 256px
							.r-pro
								display block
								line-height 40px
								font-size 14px
								padding-left 32px
								&:hover
									background #eee
									color #ca151e
						.r-bottom
							position absolute
							width 220px
							bottom 14px
							right 0
							.r-bottom-titbg
								margin 10px auto
								display block
								width 156px
								font-size 14px
								color gray
								text-align center
								background url("../../image/bg63.png") repeat-x
								background-position 10px
								.r-bottom-tit
									margin 0 auto
									background #f7f7f7
									display block
									width 70px
									height 30px
									line-height 30px
							.r-pro
								display block
								height 30px
								line-height 30px
								font-size 14px
								padding-left 32px
								&:hover
									color #ca151e
					.div-title
						line-height 16px
						font-size 16px
						margin-left 8px
						&:hover
							color #ca151e
					.pro
						float left
						margin 6px 0 0 8px
						color gray
						line-height 13px
						font-size 13px
						&:hover
							color #ca151e
		.nav-list
			float left
			li
				float left
				line-height 40px
				padding 0 30px
				color white
				&:hover
					background #000
.hearder-banner
	width 100%
	height 448px
	position relative
.floot1
	margin 0 auto
	width 1200px
		
.firstPro
	margin 0 18px 0px 0
	float left
	width 904px
	.eachPro1
		float left
		margin-bottom 21px
		height 311px
		.pro-img
			padding 24px 30px 0 24px
			float left
	.cont
		float left
		.pro-name
			margin 61px 40px 0 0
			width 200px
			height 33px
			color #333
			font-size 20px
		.pro-shining
			margin 16px 40px 5px 0
			width 200px
			height 78px
			.tit1
				display block
				width 200px
				height 22px
			.tit2
				display block
				width 200px
				height 22px
				color #e01d20
		.pro-price
			float left
			em
				color #e01d20
				line-height 32px
				font-size 24px
			.prices
				margin 0 12px 0 0px
				color #e01d20
				line-height 32px
				font-size 24px
.pro-button
	float left
	width 74px
	font-size 14px
	line-height 30px
	text-align center
	background #d81b24
	color #fff
	border 1px solid #b3131a
	border-radius 3px
.hui
	background #f8f8f8
.lv
	background #e2f9fb				
.huang
	background #fffce7
.fen
	background #ffecef
.zi
	background #fcefff
.lan
	background #74eafc					
.r-cont
	width 278px
	height 664px
	float left
	.r-cont-div
		margin-bottom 20px
		&.height310
			border 1px solid #efefef
			height 310px
			margin-bottom 21px
		&.height160
			border 1px solid #efefef
			height 160px
		.img1
			height 310px
			width 278px
		.img2
			height 132px
			width 278px
	.r-cont-mess
		position relative
		width 278px
		height 160px
		border 1px solid #efefef
		.r-left
			float left
			width 138px
			line-height 30px
			background #f5f5f5
			color #7f7f7f
			text-align center
			font-size 14px
			&.current
				background #fff
				color #333
				ul
					display block
			.tit:hover
				color #ca151e
			ul
				display none
				position absolute
				list-style-type disc
				width 278px
				text-align left
				font-size 14px
				left 30px
				bottom 13px
				li
					font 12px/1.5 Arial,Helvetica,sans-serif
					line-height 20px
					color #9c9590
					&:hover
						color #ca151e
.imgfloot
	width 1200px
	height 160px
	margin 0 auto 21px auto


.floot
	margin-bottom 20px
	.floot-nav
		margin-bottom 10px
		.floot-nav-tit-left
			float left
			height 20px
			padding-left 8px
			border-left 4px solid #c82c2c
			a
				font-weight bold
				font-size 18px
				margin-right 8px
				&:hover
					color #c82c2c
			span
				font-size 14px
				color gray
		.floot-nav-tit-right
			float right
			a
				color #978679
				font-size 13px
				margin-left 30px
				&:hover
					color #c82c2c
	.pro-list
		height 323px
		float left
		&.styl1
			width 600px
			border 1px solid #efefef
			.pro-img
				padding 44px 48px 0 30px
				img 
					width 222px
					height 222px
			.pro-name
				width 259px
				line-height 33px
				font-size 26px
				margin 54px 32px 5px 0
			.pro-shining
				width 259px
				height 92px
				.tit1
					display block
					float left
					line-height 22px
					color gray
		&.styl2
			width 300px
			border 1px solid #efefef
			.pro-img
				padding 10px 39px 0 39px
				img 
					width 222px
					height 222px
			.pro-name
				margin-left 37px
				width 227px
				height 33px
				font-size 14px
				text-align center
				.tit1
					width
					line-height 33px
					font-size 14px
					color #c82c2c
			.pro-price
				margin-left 100px
		.pro-img
			float left
		.cont
			float left
			.pro-shining
				.tit2
					display block
					float left
					margin-top 2px
					line-height 22px
					color #c82c2c
		.pro-price
			float left
			em
				color #e01d20
				line-height 32px
				font-size 24px
			.prices
				margin 0 12px 0 -5px
				color #e01d20
				line-height 32px
				font-size 24px			





